@tailwind base;
@tailwind components;
@tailwind utilities;
:root { color: #121212; background: #FAFAF8; }
html { scroll-behavior: smooth; }
body { margin: 0; background: #FAFAF8; }
* { box-sizing: border-box; }
